/**
 * Mixins
*/

@mixin background_gradient($color-1, $color-2) {
    background: $color-1;/* Old Browsers */
    background: -moz-linear-gradient(top, $color-1 0%, $color-2 100%); /* FF3.6+ */
    background: -webkit-gradient(left top, left bottom, color-stop(0%, $color-1), color-stop(100%, $color-2));/* Chrome, Safari4+ */
    background: -webkit-linear-gradient(top, $color-1 0%, $color-2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $color-1 0%, $color-2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $color-1 0%, $color-2 100%); /* IE 10+ */
    background: linear-gradient(to bottom, $color-1 0%, $color-2 100%);/* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-1', endColorstr='$color-2', GradientType=0 );/* IE6-9 */
}

@mixin before_after {    
    &::before,
    &::after {
        @content;
    }    
}

@mixin clearfix {    
    &::before, &::after {
        content: ' ';
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }    
}

@mixin media($x) {
    @media screen and (min-width: $x + 'px'){
        @content;
    }
}

@mixin media_max($x) {
    @media screen and (max-width: $x + 'px'){
        @content;
    }
}

@mixin scrollbar($el){    
    body {
        @if $el == 'main' or $el == '' {
            &::-webkit-scrollbar {
                @content
            }
        }
        @if $el == 'track' {
            &::-webkit-scrollbar-track {
                @content
            }
        } 
        @if $el == 'thumb' {
            &::-webkit-scrollbar-thumb {
                @content
            }
        }
    }
}

/**
 * Browser compabibility
 */

@mixin align_items($s) {
    -webkit-align-items: $s;
    align-items: $s;
}

@mixin animation($s) {
    -webkit-animation: $s;
    -moz-animation: $s;
    -ms-animation: $s;
    animation: $s;
}

@mixin animation_duration($s) {    
    -webkit-animation-duration: $s;
    animation-duration: $s;
}

@mixin animation_fill_mode($s) {
    -webkit-animation-fill-mode: $s;
    animation-fill-mode: $s;
}

@mixin animation_iteration_count($s) {    
    -webkit-animation-iteration-count: $s;
    animation-iteration-count: $s;    
}

@mixin animation_name($s) {    
    -webkit-animation-name: $s;
    animation-name: $s;
}

@mixin animation_timing_function($s) {    
    -webkit-animation-timing-function: $s;
    animation-timing-function: $s;
}

@mixin backface_visibility($s) {
    -webkit-backface-visibility: $s;
    backface-visibility: $s;
}

@mixin box_shadow($s) {    
    -webkit-box-shadow: $s;
    -moz-box-shadow: $s;
    box-shadow: $s;
}

@mixin display_inline_flex {
    display: -webkit-inline-box !important;
    display: -webkit-inline-flex !important;
    display: -moz-inline-box !important;
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

@mixin display_flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

@mixin filter_grayscale($s) {    
    @if $s == 1 {
        filter: gray;
        -webkit-filter: grayscale($s);
        filter: grayscale($s);
    } @elseif $s == 0 {        
        -webkit-filter: grayscale($s);
        filter: none;
    }
}

@mixin flex($s) {    
    -webkit-flex: $s;
    flex: $s;
}

@mixin flex_direction($s) {    
    -webkit-flex-direction: $s;
    flex-direction: $s;
}

@mixin flex_flow($s) {
    -webkit-flex-flow: $s;
    -moz-flex-flow: $s;
    -ms-flex-flow: $s;
    flex-flow: $s;
}

@mixin flex_wrap($s) {
    -webkit-flex-wrap: $s;
    flex-wrap: $s;
}

@mixin justify_content($s) {    
    -webkit-justify-content: $s;
    justify-content: $s;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
    &::placeholder               {@content}
}

@mixin transform($s) {
    -webkit-transform: $s;
    transform: $s;
}

@mixin transform_origin($s) {
    -webkit-transform-origin: $s;
    transform-origin: $s;
}

@mixin transition($s) {
    -webkit-transition: $s;
    transition: $s;
}

/** Style headers **/
@mixin headSizes($sizes) {
    @each $e, $size in $sizes {
        h#{$e} {
            font-size: $size + px !important;
        }
    }
}

@mixin qoute_ratio($width) {    
    height: $width - 5 + 0px;
    width: $width + 0px;    
}

/** Style section text headers the same **/
@mixin text_headers {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

/** Convert px on the design to percentage **/
@function protowidth($pxwidth, $width-artboard) {
    @return (($pxwidth / $width-artboard) * 100) + 0%;
}

/** Convert px to em **/
@function pxtoem($basepx, $px) {
    @return ($px/$basepx)+0em;
}