/******************************************************************
Stylesheet: Generated Variables

Sass variables generated from theme customizer.

******************************************************************/

/*********************
COLORS
*********************/

$accent-color:          #121273;
$accent-color-alt:      #4f2864;
$accent-color-alt-2:    #c88938;
$accent-color-alt-3:    #ffffff;
$text-color:            #8f8f8f;
$link-color:            #121273;

/*********************
BUTTONS
*********************/

$button_text_size:              20px;
$button_text_color:             #ffffff;
$button_bg_color:               rgba(0,0,0,0);
$button_border_width:           2px;
$button_border_color:           #ffffff;
$button_border_radius:          3px;
$button_icon_content:           '\35';
$button_spacing:                0px;
$button_icon_color:             #ffffff;
$button_text_color_hover:       #ffffff;
$button_bg_color_hover:         rgba(255,255,255,0.2);
$button_border_color_hover:     rgba(0,0,0,0);
$button_border_radius_hover:    3px;
$button_spacing_hover:          0;
$button_icon_size:              32px;
$button_icon_placement:         'right';
$button_icon_on_hover:          'yes';
$button_use_icon:               'yes';

/*********************
FONTS
*********************/

$font-size:         16px;

.button {
    ;
    font-family: 'none', sans-serif;;
}

